modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["cacert", "cargo", "libffi", "libiconv", "libxcrypt", "openssl", "pkg-config", "rustc"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "WhoogleSearch"

[[workflows.workflow]]
name = "WhoogleSearch"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80
